@keyframes moveInTopLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem, -15rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottomRight {
  0% {
    opacity: 0;
    transform: translate(10rem, 15rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
