<div class="container-fluid half" style="font: Regular 24dp/43dp Helvetica;">
  <div class="row flex-center">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">  
        <div class="panel panel-default text-center zoomer mt-1 pt-0">
          <img style="padding: 1%; width: 31%;" src="assets/icons/order2.svg"  alt="Widget Icon" />

          <div class="panel-heading">
        
            <p class="addLine"></p>
            <h3 class="h3font">ORDER</h3>
            <p class="addLowerLine"></p>
          </div>
          <div class="panel-body hfont text-center">
            <p class="fourK"> You can order data on-demand for your assets
              from anywhere and at anytime. It is as simple as few-clicks. Now sit-back and relax while our
              patented tech does the magic.
            </p>
          </div>
        </div>
      <!-- </div> -->
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default text-center zoomer mt-0 pt-0">
        <img style="padding: 1%;" src="assets/icons/pilot.svg" alt="Widget Icon" />
        <div class="panel-heading">
          <p class="addLine"></p>
          <h3 class="h3font">PILOT</h3>
          <p class="addLowerLine"></p>
        </div>
        <div class="panel-body hfont">
          <p class="fourK">Our network of drone pilots and hobbyists will do the
            flying, capture the data and upload to our proprietary platform.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default text-center zoomer mt-0 pt-0">
        <img style="padding: 1%;" src="assets/icons/analyze.svg" alt="Widget Icon" />
        <div class="panel-heading">
          <p class="addLine"></p>
          <h3 class="h3font">ANALYZE</h3>
          <p class="addLowerLine"></p>
        </div>
        <div class="panel-body hfont">
          <p class="fourK"> Aerologix's platform will empower you with information at your
            fingertips so that you can derive actionable insights
            and make swift decisions.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>


<!-- <div class="widget">
  <div class="widget__icon">
    <img src="assets/icons/order.svg" alt="Widget Icon" />
  </div>
  <div class="widget__title">
    <h3 class="heading-tertiary">Order</h3>
  </div>
  <div class="widget__content">
    <p>Some Data</p>
  </div>
</div> -->