<body>

	 <!-- Code for Image -->
<div class="container-fluid">
	 <div class="row">
    <div class="view">
    <img src="assets/images/common_page/telco.png" class="img-fluid" alt="drone image">
    <div class="mask flex-center">
        <p class="white-text">Telco Site<br> Engineering Solutions</p>
    </div>
</div>
</div>
</div>


<!-- Code for Horizontal Line -->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
<div class="horizontal-line">
</div>
</div>
</div>
</div>

<p class="telco">As your network coverage scales, so does the need safely inspect your antennas, schedule maintenance, anticipate failure and keep assets at maximum efficiency. Whether you need to monitor the installation of new equipment or inspect a site to examine the condition of old equipment, Aerologix delivers a flexible, scalable solution to inspect and manage your telco assets with cutting edge drone technology and patented software solutions. </p>



<!-- Code for Horizontal Line -->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
<div class="horizontal-line">
</div>
</div>
</div>
</div>





<!-- Code for gallary Image -->

<div class="container-fluid">
	<div class="row box">
		
			<div class="col-lg-3 col-md-6">
			<div class="gallery">
				<img src="assets/images/common_page/site-optimization.png">
				<div class="desc"><p>Site Optimization</p>
				</div>
			</div>
		</div>
		
			<div class="col-lg-3 col-md-6">
			<div class="gallery">
				<img src="assets/images/common_page/es.jpg">
				<div class="desc"><p>Enhance Safety </p>
				</div>
			</div>
		</div>
		
			<div class="col-lg-3 col-md-6">
			<div class="gallery">
				<img src="assets/images/common_page/rd.png" >
				<div class="desc"><p>Reduce Downtime </p>
				</div>
			</div>
		</div>
		
			<div class="col-lg-3 col-md-6">
			<div class="gallery">
				<img src="assets/images/common_page/lc.png">
				<div class="desc"><p>Lower Costs</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	



<!-- Code for Image  -->
<div class="container-fluid">
	<div class=row>
		<div class="view">
        <img src="assets/images/common_page/drone2.png" class="img-fluid" alt="Responsive image">
      </div>
	</div></div>



<!-- Code for Horizontal Line -->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
<div class="horizontal-line">
</div>
</div></div></div>




<!-- Code for Aerologix: Aerial imaging solutions -->

<div class="container-fluid">
	<div class=row>
		<div class="col-md-12">

			<h1 class="title2"> Aerologix: Site Engineering Solutions</h1>
			<p class="insurance2">Aerologix Site Engineering solutions offers unprecedented access to information about the state of your asset. With our revolutionary Aeropath site scan app we are able to derive critical site information such as measurements, tilt angels of antennas, condition of structures.<br> We can also derive a comprehensive CAD model from our scan data adding enormous value to the product and empowering site engineers with the right data to make the right decisions.</p>
				
				</div>
			</div>
			</div>



<!-- Code for Image  -->
<div class="container-fluid">
	<div class=row>
		 <div class="col-6 mx-auto">
		<div class="view">
        <img src="assets/images/common_page/3dmodel.png" class="img-fluid" alt="Responsive image">
      </div>
	</div>
</div></div>




<!-- Code for Horizontal Line -->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
<div class="horizontal-line">
</div>
</div></div></div>


	<!-- title -->
	<h1 class="title2">Why Drones for insurance Inspections? </h1>


	<!-- Video -->

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207" allowfullscreen></iframe>
</div>




</body>