<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
<div class="view">
  <video class="video-fluid z-depth-1" autoplay muted loop playsInline>
    <source src="assets/videos/droneVideo.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  
  <div class="mask flex-center rgba-black-strong">
    <h1 style="display: block; padding-bottom: 10vw;" class="white-text bigData">ANY DRONE ANYWHERE
    
    <br>
    <p class="addLine"></p>
    <h6>
    <span class="typeAlign"> 
      <!-- <p class="typewrite letterSpacing" data-period="1" data-type='[ "Looking for Drone Pilots in Australia?"
      , "Yes...", "Aerologix it is !!!!" ]'> -->
      <p class="typewrite letterSpacing">
        <span class="">Looking for Drone Pilots in Australia?</span>
    </p>
    </span>
  </h6>
  </h1>
  </div>
</div>

<!-- <header class="header1">
  <div class="bgVideo video-fluid z-depth-1"> 
    <video
      class="bgVideo__Content"
      autoPlay
      muted
      loop
      playsInline
    >
      <source src="assets/videos/droneVideo.mp4" type="video/mp4" />
      Your browser is not supported!
    </video>
  </div>
  <div class="mask flex-center waves-effect waves-light rgba-black-strong">
    <h1 class="white-text bigData title h1 my-4">Any Drone Anywhere</h1> -->
  <!-- </div> -->
<!-- 
  <div class="white-text flex-center headingL">
    <h1>any drone</h1>
  </div> -->
<!-- </header> --> 

<!-- <div class="white-text headingL text-center">
  <h1>ANYDRONE ANYWHERE</h1>
  <p class="addLine"></p>
</div> -->
<!-- <app-introduction></app-introduction> -->

<div class="text-center" style="color: black !important">
  <p class="addThickLine"></p>
  <h1 class="heading-secondary" style="line-height: initial;">
    INTRODUCING A <br /> GAME CHANGING PLATFORM
  </h1>
  
  <h4 class="content mt-3" style="font-family: Arial, Helvetica, sans-serif ; letter-spacing: 1.4px; line-height: 1.2em;">
    <b class="font-weight-bold">Aerologix</b> is a platform for drone aerial vision.<br /> We use patented algorithm and geo location to match clients with 
    <br />skilled and qualified drone pilots in Australia.
    <p class="addThickLine"></p>
  </h4>
</div>
<app-cards></app-cards>
<app-form></app-form>
